# Dependency & Build folders
**/node_modules/
**/.next/
**/dist/
**/build/

# All Environment files across any directory
**/.env
**/.env.*
**/.env.local

# Git Patch files
*.patch

# OS / Editor junk
.DS_Store
*.tsbuildinfo